// COLORS
$green: #CFE5A4;
$red: #FB877A;
$yellow: #FEDC94;
$blue: #85e3cb;
$white: #f1f1f1;
$black: #161616;

// FONTS
$headingFont: 'Vollkorn', serif;
$bodyFont: 'Ubuntu', sans-serif;

.menu-wrapper {
    display: flex;
    justify-content: center;
}

.menu-heading{
    background-color: $green;
}

.flav-title{
    background-color: $red;
}